
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=""> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>立即支付</title>

    <link rel="stylesheet" media="screen" href="__CDN__/assets/addons/mq/css/pay.css"/>
    <link rel="stylesheet" media="screen" href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css?v=?v=1.0.38"/>
    <link rel="stylesheet" media="screen" href="__CDN__/assets/libs/fastadmin-layer/dist/theme/default/layer.css?v=1.0.38"/>

    <!--[if lt IE 9]>
    <script src="__CDN__/libs/html5shiv.js?v=?v=1.0.38"></script>
    <script src="__CDN__/libs/respond.min.js?v=?v=1.0.38"></script>
    <![endif]-->
</head>
<body>
<div class="container" style="position:relative;">
    <div class="header">
        <div class="logo {$type}"></div>
    </div>
    <div class="mainbody">
        <div class="realprice">₫{$realprice}</div>
        <div class="warning ">
            扫码后请务必输入正确的金额(₫{$realprice}元)，错误将不到账
        </div>

        {if condition="$type == 'alipay'"}
        <img id="qrImage" src="{$schema}" alt="二维码图片" style="display: none;">
        <div style="margin-top: 10px">
<!--            <a href="{$schema}" style="display:block;background: red;color: white;padding: 10px">安卓手机可点此直接启动APP，如启动不成功，请扫描下方二维码支付！</a>-->
            <a id="appLink" href="#" style="display:block;background: red;color: white;padding: 10px">安卓手机可点此直接启动APP，如启动不成功，请扫描下方二维码支付！</a>
        </div>
        {/if}
        <div class="qrcode">
            <img class="image" src="{$qrcode}" alt="">
            <div class="logo hidden-xs logo-alipay"></div>
            <div class="expired hidden"></div>
            <div class="paid hidden"></div>
        </div>
        <div class="remainseconds">
            <div class="time minutes">
                <b>05</b>
                <em>分</em>
            </div>
            <div class="colon">:</div>
            <div class="time seconds">
                <b>00</b>
                <em>秒</em>
            </div>
        </div>

        <div class="help">
           如果有任何支付疑问，请联系客服。
            <br />订单号：{$orderno}<br />
        </div>

        <div class="tips">
            打开支付宝「扫一扫」,扫码即可支付。
        </div>
    </div>

    <div class="hongbao-bg"></div>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.js"></script>
    <script>
        var order = {:json_encode($order)};
        var addon = {successtips:"支付成功!请关闭当前窗口以便于继续操作!", expiretips:"二维码已过期,请点击这里刷新后重新尝试支付!", jumptips:"支付成功!2秒后将自动跳转!"}
        // 自动解析 QR 码图像
        var qrImage = document.getElementById('qrImage');
        qrImage.onload = function() {
            var canvas = document.createElement('canvas');
            canvas.width = qrImage.width;
            canvas.height = qrImage.height;
            var context = canvas.getContext('2d');
            context.drawImage(qrImage, 0, 0, canvas.width, canvas.height);

            var imageData = context.getImageData(0, 0, canvas.width, canvas.height);

            var code = jsQR(imageData.data, imageData.width, imageData.height);

            if (code) {
                // 解析成功，替换链接
                var schema = code.data; // 获取解析后的二维码数据
                var appLink = document.getElementById('appLink');
                appLink.href = schema;
            } else {
                alert('No QR code found.');
            }
        };
    </script>
    <script type="text/javascript" src="__CDN__/assets/libs/jquery/dist/jquery.min.js?v=1.0.38"></script>
    <script type="text/javascript" src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js?v=1.0.38"></script>
    <script type="text/javascript" src="__CDN__/assets/addons/mq/js/pay.js?v=1.0.38"></script>
    <script>
        $(function(){
            $(document).on("click",".hongbao > a", function(){
                $(".hongbao-mask,.hongbao-bg").show();
            });
            $(document).on("click",".hongbao-mask,.hongbao-bg", function(){
                $(".hongbao-mask,.hongbao-bg").hide();
            });
        });
    </script>
</div>
<div class="hongbao-mask"></div>
</body>
</html>
