/nbproject/
/thinkphp/
/vendor/
/runtime/*
# /public/assets/libs/ - 注释掉，允许 libs 目录被跟踪
/public/uploads/*
.DS_Store
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
