<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Owner_sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-owner_sn" data-rule="required" class="form-control" name="row[owner_sn]" type="text" value="{$row.owner_sn|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" type="text" value="{$row.nickname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" data-rule="required" class="form-control" name="row[password]" type="text" value="{$row.password|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Google_mfa')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-google_mfa" data-rule="required" class="form-control" name="row[google_mfa]" type="text" value="{$row.google_mfa|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Google_bind')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-google_bind" data-rule="required" class="form-control selectpicker" name="row[google_bind]">
                {foreach name="googleBindList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.google_bind"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qr_code_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qr_code_url" data-rule="required" class="form-control" name="row[qr_code_url]" type="text" value="{$row.qr_code_url|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_institution')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_institution" data-rule="required" class="form-control" name="row[bank_institution]" type="text" value="{$row.bank_institution|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_card_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_card_no" data-rule="required" class="form-control" name="row[bank_card_no]" type="text" value="{$row.bank_card_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Daily_withdraw_ratio')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daily_withdraw_ratio" data-rule="required" class="form-control" step="0.01" name="row[daily_withdraw_ratio]" type="number" value="{$row.daily_withdraw_ratio|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_fee_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deposit_fee_rate" data-rule="required" class="form-control" step="0.01" name="row[deposit_fee_rate]" type="number" value="{$row.deposit_fee_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Balance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-balance" data-rule="required" class="form-control" step="0.01" name="row[balance]" type="number" value="{$row.balance|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_deposit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_deposit" data-rule="required" class="form-control" step="0.01" name="row[total_deposit]" type="number" value="{$row.total_deposit|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_withdraw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_withdraw" data-rule="required" class="form-control" step="0.01" name="row[total_withdraw]" type="number" value="{$row.total_withdraw|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contact')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact" data-rule="required" class="form-control" name="row[contact]" type="text" value="{$row.contact|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frozen_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-frozen_amount" data-rule="required" class="form-control" step="0.01" name="row[frozen_amount]" type="number" value="{$row.frozen_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Commission')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-commission" data-rule="required" class="form-control" step="0.01" name="row[commission]" type="number" value="{$row.commission|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deposit_money" data-rule="required" class="form-control" step="0.01" name="row[deposit_money]" type="number" value="{$row.deposit_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Matchable_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-matchable_amount" data-rule="required" class="form-control" step="0.01" name="row[matchable_amount]" type="number" value="{$row.matchable_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Daily_limit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daily_limit" data-rule="required" class="form-control" step="0.01" name="row[daily_limit]" type="number" value="{$row.daily_limit|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remaining_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remaining_amount" data-rule="required" class="form-control" step="0.01" name="row[remaining_amount]" type="number" value="{$row.remaining_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_login_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_login_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[last_login_time]" type="text" value="{$row.last_login_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_login_ip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_login_ip" class="form-control" name="row[last_login_ip]" type="text" value="{$row.last_login_ip|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{$row.create_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_time]" type="text" value="{$row.update_time}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
