<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">代付账户:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daifuid" data-rule="required" data-source="api/account/repay" class="form-control selectpage" name="daifuid" type="text" value="{$daifuid}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">GoogleMFA:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="code" data-rule="required" placeholder="请输入谷歌验证码（未绑定可输入888888）" maxlength="6">
        </div>
    </div>

    <input type="hidden" name="ids" value="{$ids}" />

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">确认无误后，点击提交代付</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>

</form>

