<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_no" data-rule="required" class="form-control" name="row[order_no]" type="text" value="{$row.order_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_trade_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_trade_no" class="form-control" name="row[out_trade_no]" type="text" value="{$row.out_trade_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Card_owner_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-card_owner_id" data-rule="required" min="0" data-source="card/owner/index" class="form-control selectpage" name="row[card_owner_id]" type="text" value="{$row.card_owner_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Card_bank_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-card_bank_id" min="0" data-rule="required" data-source="card/bank/index" class="form-control selectpage" name="row[card_bank_id]" type="text" value="{$row.card_bank_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Channel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-channel" class="form-control" name="row[channel]" type="text" value="{$row.channel|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_method')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_method" class="form-control" name="row[pay_method]" type="text" value="{$row.pay_method|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" class="form-control" step="0.01" name="row[amount]" type="number" value="{$row.amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fee" data-rule="required" class="form-control" step="0.01" name="row[fee]" type="number" value="{$row.fee|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_amount" data-rule="required" class="form-control" step="0.01" name="row[real_amount]" type="number" value="{$row.real_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payee_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payee_name" data-rule="required" class="form-control" name="row[payee_name]" type="text" value="{$row.payee_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payee_account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payee_account" data-rule="required" class="form-control" name="row[payee_account]" type="text" value="{$row.payee_account|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payee_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payee_phone" class="form-control" name="row[payee_phone]" type="text" value="{$row.payee_phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payee_id_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payee_id_type" class="form-control" name="row[payee_id_type]" type="text" value="{$row.payee_id_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payee_id_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payee_id_no" class="form-control" name="row[payee_id_no]" type="text" value="{$row.payee_id_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_name" class="form-control" name="row[bank_name]" type="text" value="{$row.bank_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_code" class="form-control" name="row[bank_code]" type="text" value="{$row.bank_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_swift')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_swift" class="form-control" name="row[bank_swift]" type="text" value="{$row.bank_swift|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_branch')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_branch" class="form-control" name="row[bank_branch]" type="text" value="{$row.bank_branch|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_branch_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_branch_code" class="form-control" name="row[bank_branch_code]" type="text" value="{$row.bank_branch_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Province')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-province" class="form-control" name="row[province]" type="text" value="{$row.province|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" class="form-control" data-toggle="city-picker" name="row[city]" type="text" value="{$row.city|htmlentities}"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('District')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-district" class="form-control" name="row[district]" type="text" value="{$row.district|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Submit_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-submit_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[submit_time]" type="text" value="{$row.submit_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Success_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-success_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[success_time]" type="text" value="{$row.success_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fail_reason')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fail_reason" class="form-control" name="row[fail_reason]" type="text" value="{$row.fail_reason|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Batch_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-batch_no" class="form-control" name="row[batch_no]" type="text" value="{$row.batch_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notify_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-notify_url" class="form-control" name="row[notify_url]" type="text" value="{$row.notify_url|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notify_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="notifyStatusList" item="vo"}
            <label for="row[notify_status]-{$key}"><input id="row[notify_status]-{$key}" name="row[notify_status]" type="radio" value="{$key}" {in name="key" value="$row.notify_status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notify_times')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-notify_times" data-rule="required" min="0" class="form-control" name="row[notify_times]" type="number" value="{$row.notify_times|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_notify_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_notify_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[last_notify_time]" type="text" value="{$row.last_notify_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_notify_result')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_notify_result" class="form-control" name="row[last_notify_result]" type="text" value="{$row.last_notify_result|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_ip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_ip" class="form-control" name="row[client_ip]" type="text" value="{$row.client_ip|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_agent')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_agent" class="form-control" name="row[user_agent]" type="text" value="{$row.user_agent|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control" name="row[remark]" type="text" value="{$row.remark|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ext')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ext" class="form-control" name="row[ext]" type="text" value="{$row.ext|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
